# Growth Rate Analysis Debugging

In [1]:
from celldom.core import cytometry
from celldom.execute import analysis

In [12]:
store.get('table_acquisition')['raw_image_path'].iloc[0]

'/lab/data/celldom/dataset/dataset05/_2018.06.14 EXP SUM Control 0.1uM with 5mL gravity/2018.06.14 Orange 1 0.1uM/2018.06.14 Orange 1 0.1uM 0 hr/BFF_16X_St_000_Apt_000_201806142349.tif'

In [2]:
data_dir = '/lab/data/celldom/output/20180820-G3-full'
store = cytometry.get_readonly_datastore(data_dir)
apt_data = store.get('table_apartment')
apt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123019 entries, 0 to 4
Data columns (total 36 columns):
acq_apartment             123019 non-null object
acq_cohort                123019 non-null object
acq_color                 123019 non-null object
acq_condition             123019 non-null object
acq_datetime              123019 non-null datetime64[ns]
acq_hours                 123019 non-null object
acq_id                    123019 non-null object
acq_processed_at          123019 non-null datetime64[ns]
acq_pump                  123019 non-null object
acq_street                123019 non-null object
apt_id                    123019 non-null int64
apt_image_height          123019 non-null int64
apt_image_width           123019 non-null int64
apt_num                   123019 non-null object
apt_num_digit_scores      123019 non-null object
cell_area_mean            113407 non-null float64
cell_area_p10             113407 non-null float64
cell_area_p50             113407 non-null float64
cell_area_p90             113407 non-null float64
cell_area_std             91958 non-null float64
cell_count                123019 non-null int64
cell_eccentricity_mean    113407 non-null float64
cell_eccentricity_p10     113407 non-null float64
cell_eccentricity_p50     113407 non-null float64
cell_eccentricity_p90     113407 non-null float64
cell_eccentricity_std     91958 non-null float64
cell_solidity_mean        113407 non-null float64
cell_solidity_p10         113407 non-null float64
cell_solidity_p50         113407 non-null float64
cell_solidity_p90         113407 non-null float64
cell_solidity_std         91958 non-null float64
focus_score               123019 non-null float64
marker_center_x           123019 non-null int64
marker_center_y           123019 non-null int64
st_num                    123019 non-null object
st_num_digit_scores       123019 non-null object
dtypes: datetime64[ns](2), float64(16), int64(6), object(12)
memory usage: 34.7+ MB

In [3]:
import imp
imp.reload(analysis)

In [4]:
%%time
dfgr = analysis.get_growth_rate_data(apt_data, ['acq_cohort', 'acq_pump', 'acq_color', 'acq_condition'])

CPU times: user 42 s, sys: 371 ms, total: 42.3 s
Wall time: 42.3 s

In [5]:
dfgr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16924 entries, 0 to 16923
Data columns (total 17 columns):
acq_cohort           16924 non-null object
acq_pump             16924 non-null object
acq_color            16924 non-null object
acq_condition        16924 non-null object
st_num               16924 non-null object
apt_num              16924 non-null object
acq_ids              16924 non-null object
cell_counts          16924 non-null object
elapsed_hours_min    16924 non-null float64
first_count          16924 non-null float64
first_date           16924 non-null datetime64[ns]
growth_rate          16019 non-null float64
last_count           16924 non-null float64
last_date            16924 non-null datetime64[ns]
max_cell_count       16924 non-null float64
min_cell_count       16924 non-null float64
n                    16924 non-null int64
dtypes: datetime64[ns](2), float64(6), int64(1), object(8)
memory usage: 2.2+ MB

In [9]:
dfgr.describe()

,elapsed_hours_min,first_count,growth_rate,last_count,max_cell_count,min_cell_count,n
count,16924.000000,16924.000000,16019.000000,16924.000000,16924.000000,16924.000000,16924.000000
mean,5.689993,2.246573,0.105237,12.775880,14.057581,1.827937,7.231742
std,18.748612,5.104932,18.645348,28.764811,28.856819,5.067805,2.887530
min,0.000000,0.000000,-2282.346001,0.000000,0.000000,0.000000,1.000000
25%,0.016667,1.000000,0.000000,2.000000,3.000000,1.000000,5.000000
50%,0.016667,1.000000,0.168715,4.000000,5.000000,1.000000,8.000000
75%,0.033333,2.000000,0.370327,8.000000,9.000000,2.000000,9.000000
max,197.683333,169.000000,597.653999,200.000000,200.000000,169.000000,23.000000

In [8]:
dfgr[dfgr['growth_rate'].isnull()]['n'].value_counts()

1    905
Name: n, dtype: int64

In [6]:
dfgr['acq_ids'].iloc[0]

{'8139849204d381805d36b045e5c1565b',
 'cc9afb0c70598fa8747e46eebd0ee42c',
 'dfbd9757c74c7a29dc14aed9cbec64b0'}

In [7]:
dfgr['cell_counts'].head()

0    {2018-06-28 11:50:00: 9.0, 2018-06-29 11:58:00...
1    {2018-06-28 11:50:00: 7.0, 2018-07-03 20:22:00...
2    {2018-06-27 14:11:00: 4.0, 2018-06-29 11:58:00...
3    {2018-06-28 11:50:00: 9.0, 2018-06-27 14:11:00...
4    {2018-06-28 11:50:00: 7.0, 2018-07-05 19:52:00...
Name: cell_counts, dtype: object